<app-carousel></app-carousel>


<html>

<head>
    <meta charset="UTF-8">
    <meta htpp-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="contenedor">
        <h4 style="color:rgb(232 222 222 / 87%);">SI USTED QUIERE CONTACTARSE CON EL PROPIETARIO DE LA PAGINA WEB,ESTARAN SUS REDES SOCIALES:
        </h4>
        <main>

            <div class="icon">
                <svg height="80 " width="80 ">
              <circle cx="40 "  cy="40" r=35 stroke="white " stroke-width="4 " fill="none "></circle>
               </svg>
                <p><u style="color:rgba(233, 13, 145, 0.87);"></u></p>

                <a href="https://www.instagram.com/samuel.seguel/?hl=es-la">https://www.instagram.com/samuel.seguel/?hl=es-la</a>
                <i class='bx bxl-instagram'></i>

            </div>
            <br>

            <div class="icon">
                <svg height="80 " width="80">
                 
              <circle cx="40 " cy="40 " r=35 stroke="white " stroke-width="4 " fill="none "></circle>
             </svg>
                <p><u style="color:rgba(17, 90, 185, 0.87);"></u></p>
                <a href="https://www.facebook.com/samu.seguel.7">https://www.facebook.com/samu.seguel.7</a>
                <i class='bx bxl-facebook-circle'></i>
            </div>

            <br>

            <div class="icon">
                <svg height="80 " width="80 ">
              <circle cx="40 " cy="40 " r=35 stroke="white " stroke-width="4 " fill="none "></circle>
        </svg>
                <p><u style="color:rgba(67, 182, 71, 0.87); ">(0299)-5317981</u></p>
                <i class='bx bxl-whatsapp'></i>
            </div>
            <br>

            <div class="icon ">
                <svg height="80 " width="80 ">
              <circle cx="40 " cy="40 " r=35 stroke="white " stroke-width="4 " fill="none "></circle>
        </svg>
                <p><u style="color:rgba(9, 93, 139, 0.87);"></u></p>
                <a href="https://mobile.twitter.com/ss04201635">https://mobile.twitter.com/ss04201635</a>
                <i class='bx bxl-twitter'></i>
            </div>

        </main>
    </div>
</body>

</html>